.App {
  background: linear-gradient(to bottom, 
  rgb(142, 195, 196),
  rgb(224, 134, 134),
  white);
  height: 100%;
}

.Head1 {
  text-align: center;
  text-shadow: 2px 2px aqua;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.btn {
  height: 50px;
  width: 300px;
  background-color:turquoise;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
}

#fnComp {
  visibility: hidden;
  height: 250px;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;  
  background-color: aqua;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 200px;
}

#fnComp.active {
  visibility: visible;
  opacity: 1;
}

#fnClas {
  visibility: hidden;
  height: 250px;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: darkslateblue;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 750px;
}

#fnClas.active {
  visibility: visible;
  opacity: 1;
}
